<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<!-- 包扫描 -->
	<context:component-scan base-package="com.atguigu" />

	<!-- 配置在SpringMVC中解决文件上传的协议的解析器 id必须是multipartResolver -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<!-- 配置springMVC对静态资源的支持 -->
	<mvc:default-servlet-handler />
	<!-- 开启SpringMVC的注解驱动 -->
	<mvc:annotation-driven></mvc:annotation-driven>

	<!-- 配置多个拦截器标签mvc：interceptors -->
	<mvc:interceptors>
		<!-- 配置一个拦截器标签mvc：interceptor -->
		<mvc:interceptor>
			<!-- 拦截的地址 -->
			<mvc:mapping path="/hello"/>	
			<!-- 拦截器的具体实现类	 -->
			<bean class="com.atguigu.controller.FirstHandlerInterceptor_stu"/>
		</mvc:interceptor>
	</mvc:interceptors>























</beans>
